@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721366023464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e62b";
}

.icon-xingxing1:before {
  content: "\e646";
}

.icon-star-full:before {
  content: "\e9a1";
}

.icon-star:before {
  content: "\e9a2";
}

